.videoFrame{
    border-radius: 20px;
}

.right{
    text-align: right;
}

.grayColor{
    color: #abb0ac
}

.ratings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rightMargin{
    margin-right: 10px;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.circleFirst{
    font-size: 30px;
    margin-top: 10px;
}

.circles{
    display: flex;
    justify-content: space-around;
}
